.div-add-salarie {
  margin-bottom: 2em;
  text-align: left;
  border: 10px solid white;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  background-color: white;
}

.titre {
  font-size: 135%;
  margin-bottom: 1%;
}

span {
  display: block;
  margin-bottom: 1.5em;
}

.span-add-salarie-title {
  font-size: 1.5em;
  font-weight: 1em;
}

.salarie-label {
  margin-right: 10em;
}

.salarie-input {
  width: 20%;
  height: 2em;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 4px; /* Rounded borders */
  border: 1px solid #ccc; /* Gray border */
  position: absolute;
  left: 20em;
}

.salarie-select {
  width: 20.5%;
  height: 2.5em;
  margin-right: 1em;
  border-radius: 4px; /* Rounded borders */
  border: 1px solid #ccc; /* Gray border */
  position: absolute;
  left: 20em;
}

.salarie-submit-button,
.clear-form-button {
  margin-right: 1em;
  border-radius: 4px; /* Rounded borders */
  background-color: #42a948; /* Rounded borders */
  border: 1px solid #ccc; /* Gray Color border */
  height: 1.7em;
  width: 10%;
  color: white;
  font-size: 18px;
  position: relative;
  left: 20em;
}

.salarie-submit-button:hover,
.clear-form-button:hover {
  cursor: pointer;
}

.clear-form-button {
  background-color: #ff7f50; /* Coral color border */
  position: absolute;
  left: 42em;
  margin-top: -58px;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

mat-datepicker-toggle {
  position: absolute;
  left: 34.2em;
}

/*-----------------------------------*/

.div-search-salarie {
  text-align: center;
  margin-top: 2em;
  border: 10px solid white;
  margin-left: 1em;
  margin-right: 1em;
  background-color: white;
}

.span-no-result {
  color: red;
}

.search-label {
  margin-right: 1em;
}

.search-input {
  width: 20%;
  height: 2em;
  margin-right: 1em;
  border-radius: 4px; /* Rounded borders */
  border: 1px solid #ccc; /* Gray border */
}

.search-select {
  width: 7%;
  height: 2.5em;
  margin-right: 1em;
  border-radius: 4px; /* Rounded borders */
  border: 1px solid #ccc; /* Gray border */
}

.search-submit-button {
  margin-right: 1em;
  border-radius: 4px; /* Rounded borders */
  background-color: burlywood;
  border: 1px solid #ccc; /* Gray border */
  color: white;
  font-size: 20px;
  width: 10%;
  height: 1.5em;
}

fieldset-search-salarie {
  padding-bottom: 3em;
}

.search-submit-button:hover {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding-right: 4em;
  border-left: none;
  border-right: none;
  border-top: none;
}

th {
  border-bottom: 1px solid black;
}

td {
  padding-top: 0.8em;
  border-bottom: 1px solid gray;
  width: 11%;
}

button {
  border-radius: 10px;
  border: none;
  margin-right: 0.5em;
  font-size: 15px;
  color: white;
}

button:hover {
  cursor: pointer;
}

.button-update-salarie {
  background: darkcyan;
}

.button-delete-salarie {
  background: red;
}
