<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()" *ngIf="isUserConnected">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">{{ "application.title" | translate }}</a>
  </div>
  <span *ngIf="isUserConnected">
    <div
      *ngFor="let item of menu"
      fxFlex
      fxLayout
      fxLayoutAlign="end"
      fxHide.xs
    >
      <ul
        fxLayout
        fxLayoutGap="15px"
        class="navigation-items"
        *ngIf="hasAccess(item)"
      >
        <button mat-button [matMenuTriggerFor]="menu">{{ item.titre }}</button>
        <mat-menu #menu="matMenu">
          <div *ngFor="let subitem of item.children" class="navigation-items">
            <button mat-menu-item [routerLink]="subitem.route">
              {{ subitem.titre }}
            </button>
          </div>
        </mat-menu>
      </ul>
    </div>
  </span>
</mat-toolbar>
