<app-message-modal
  *ngIf="displayMessageModal"
  [messageModal]="messageModal"
></app-message-modal>

<div class="div-add">
  <form
    #addContratForm="ngForm"
    (ngSubmit)="saveOrUpdateContrat(addContratForm)"
  >
    <fieldset>
      <legend class="titre"></legend>
      <span
        ><label for="nom" class="label">{{
          "typeContrat.libelle" | translate
        }}</label
        ><input
          name="nom"
          class="input"
          type="text"
          required
          [(ngModel)]="typeContrat.libelle"
      /></span>
      <span
        ><label for="Droit" class="label">{{
          "typeContrat.droit" | translate
        }}</label>
        <input
          name="droit"
          class="input"
          type="checkbox"
          checked
          [(ngModel)]="typeContrat.droit"
        />
      </span>

      <span
        ><label for="Actif" class="label">{{
          "typeContrat.actif" | translate
        }}</label
        ><input
          name="actif"
          class="input"
          type="checkbox"
          checked
          [(ngModel)]="typeContrat.actif"
      /></span>

      <span
        ><input
          [value]="actionButton"
          class="submit-button"
          type="submit"
          [disabled]="!addContratForm.form.valid"
      /></span>
      <span class="span-submit"></span>

      <span class="span-submit"></span>
      <button class="clear-form-button" (click)="clearForm(addContratForm)">
        {{ "button.clear" | translate }}
      </button>
    </fieldset>
  </form>
</div>
<div class="div-search">
  <fieldset class="fieldset-search">
    <ng-container>
      <table>
        <tr>
          <td>{{ "typeContrat.libelle" | translate }}</td>
          <td>{{ "typeContrat.droit" | translate }}</td>
          <td>{{ "typeContrat.actif" | translate }}</td>
          <th></th>
          <th></th>
        </tr>
        <tr class="typeContrat.id" *ngFor="let typeContrat of contrats | async">
          <td>{{ typeContrat.libelle }}</td>
          <td>{{ typeContrat.droit }}</td>
          <td>{{ typeContrat.actif }}</td>
          <td>
            <button
              value="Update"
              type="submit"
              class="update-button"
              (click)="setUpdateContrat(typeContrat)"
            >
              {{ updateLabel }}
            </button>
          </td>
        </tr>
      </table>
    </ng-container>
  </fieldset>
</div>
<!--app-back-to-menu></app-back-to-menu-->
