<app-message-modal
  *ngIf="displayMessageModal"
  [messageModal]="messageModal"
></app-message-modal>

<div class="div-add">
  <form
    #addArticleForm="ngForm"
    (ngSubmit)="saveOrUpdateArticle(addArticleForm)"
  >
    <fieldset>
      <legend class="titre">{{ "typeArticle.titre" | translate }}</legend>
      <span
        ><label for="nom" class="label">{{
          "typeArticle.libelle" | translate
        }}</label
        ><input
          name="nom"
          class="input"
          type="text"
          required
          [(ngModel)]="typeArticle.libelle"
      /></span>
      <span
        ><label for="Prenom" class="label">{{
          "typeArticle.quantiteMois" | translate
        }}</label
        ><input
          name="prenom"
          class="input"
          type="text"
          required
          [(ngModel)]="typeArticle.quantiteMois"
      /></span>
      <span
        ><label for="Email" class="label">{{
          "typeArticle.quantiteAn" | translate
        }}</label
        ><input
          name="quantiteAn"
          class="input"
          type="text"
          required
          [(ngModel)]="typeArticle.quantiteAn"
      /></span>
      <span
        ><label for="montantMois" class="label">{{
          "typeArticle.montantMois" | translate
        }}</label
        ><input
          name="montantMois"
          class="input"
          type="montantMois"
          required
          [(ngModel)]="typeArticle.montantMois"
      /></span>
      <span
        ><label for="montantAn" class="label">{{
          "typeArticle.montantAn" | translate
        }}</label
        ><input
          name="montantAn"
          class="input"
          type="text"
          required
          [(ngModel)]="typeArticle.montantAn"
      /></span>
      <span
        ><label for="anciennete" class="label">{{
          "typeArticle.anciennete" | translate
        }}</label
        ><input
          name="anciennete"
          class="input"
          type="anciennete"
          required
          [(ngModel)]="typeArticle.anciennete"
      /></span>

      <span
        ><label for="moisInterditVente" class="label">{{
          "typeArticle.moisInterditVente" | translate
        }}</label
        ><input
          name="moisInterditVente"
          class="input"
          type="text"
          [(ngModel)]="typeArticle.moisInterditVente"
      /></span>

      <span
        ><label for="gestionStock" class="label">{{
          "typeArticle.gestionStock" | translate
        }}</label
        ><input
          name="gestionStock"
          class="input"
          type="checkbox"
          checked
          [(ngModel)]="typeArticle.gestionStock"
      /></span>
      <span
        ><label for="Actif" class="label">{{
          "typeArticle.actif" | translate
        }}</label
        ><input
          name="actif"
          class="input"
          type="checkbox"
          checked
          [(ngModel)]="typeArticle.actif"
      /></span>

      <span
        ><input
          [value]="actionButton"
          class="submit-button"
          type="submit"
          [disabled]="!addArticleForm.form.valid"
      /></span>
      <span class="span-submit"></span>

      <span class="span-submit"></span>
      <button class="clear-form-button" (click)="clearForm(addArticleForm)">
        {{ "button.clear" | translate }}
      </button>
    </fieldset>
  </form>
</div>
<div class="div-search">
  <fieldset class="fieldset-search">
    <ng-container>
      <table>
        <tr>
          <td>{{ "typeArticle.libelle" | translate }}</td>
          <td>{{ "typeArticle.quantiteMois" | translate }}</td>
          <td>{{ "typeArticle.quantiteAn" | translate }}</td>
          <td>{{ "typeArticle.montantMois" | translate }}</td>
          <td>{{ "typeArticle.montantAn" | translate }}</td>
          <td>{{ "typeArticle.anciennete" | translate }}</td>
          <td>{{ "typeArticle.moisInterditVente" | translate }}</td>
          <td>{{ "typeArticle.gestionStock" | translate }}</td>
          <td>{{ "typeArticle.actif" | translate }}</td>
          <th></th>
          <th></th>
        </tr>
        <tr
          class="typeArticle.id"
          *ngFor="let typeArticle of articles$ | async"
        >
          <td>{{ typeArticle.libelle }}</td>
          <td>{{ typeArticle.quantiteMois }}</td>
          <td>{{ typeArticle.quantiteAn }}</td>
          <td>{{ typeArticle.montantMois }}</td>
          <td>{{ typeArticle.montantAn }}</td>
          <td>{{ typeArticle.moisInterditVente }}</td>
          <td>{{ typeArticle.gestionStock }}</td>
          <td>{{ typeArticle.actif }}</td>
          <td>
            <button
              value="Update"
              type="submit"
              class="update-button"
              (click)="setUpdateArticle(typeArticle)"
            >
              {{ updateLabel }}
            </button>
          </td>
        </tr>
      </table>
    </ng-container>
  </fieldset>
</div>
<!--app-back-to-menu></app-back-to-menu-->
