a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}

.basic-container {
  padding: 20px;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

/* Success syling */

.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color: #155724;
}

.site-name {
  font-size: 150%;
}
